<a href="https://colab.research.google.com/github/FGalvao77/-Importando-dados-para-o-SQLite-database/blob/main/Importando_dados_para_o_SQLite_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Importando dados para o `SQLite` _database_**
---
---

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import random
import datetime

In [2]:
def creating_date():
    day = random.randint(1, 31)
    month = random.randint(1, 12)
    year = random.randint(2020, 2022)

    try:
        date_ = datetime.datetime(year, month, day)
    except:
        date_ = datetime.datetime(year, month, day -2)

    return date_

In [3]:
data_dict = {
    'score': [random.randint(1, 100) / 100 for i in range(100)],
    'date': [creating_date() for i in range(100)],
    'gender': [random.choice(['female', 'male']) for i in range(100)]
}

In [4]:
df = pd.DataFrame(data=data_dict)

In [5]:
df.head(n=15)

    score       date  gender
0    0.11 2020-01-17    male
1    0.91 2021-03-26  female
2    0.60 2020-10-24    male
3    0.81 2020-02-16    male
4    0.81 2020-05-08  female
5    0.54 2021-12-15    male
6    0.22 2022-04-24    male
7    0.21 2022-12-09  female
8    0.23 2022-10-07  female
9    0.23 2020-07-24  female
10   0.44 2020-09-05  female
11   0.28 2022-10-26  female
12   0.38 2020-08-08    male
13   0.08 2020-10-31  female
14   0.99 2022-07-01    male

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   score   100 non-null    float64
 1   date    100 non-null    datetime64[ns]
 2   gender  100 non-null    object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 2.5+ KB

In [7]:
conn = sqlite3.connect('my_db')

In [8]:
cursor = conn.cursor()

In [9]:
query = \
'''
CREATE TABLE tab_test(
    id INTEGER PRIMARY KEY,
    score FLOAT,
    date DATETIME,
    gender TEXT
)
'''

In [10]:
cursor.execute(query)
conn.commit()

In [11]:
for i in range(len(df)):
    score = df.iloc[i]['score']
    date = str(df.iloc[i]['date'])
    gender = df.iloc[i]['gender']

    query = \
    '''
    INSERT INTO tab_test(
    score, date, gender
    )
    VALUES (?, ?, ?)
    '''

    cursor.execute(query, (score, date, gender))

In [12]:
pd.read_sql(
    '''
    SELECT *
    FROM tab_test
    ''', conn
)

     id  score                 date  gender
0     1   0.11  2020-01-17 00:00:00    male
1     2   0.91  2021-03-26 00:00:00  female
2     3   0.60  2020-10-24 00:00:00    male
3     4   0.81  2020-02-16 00:00:00    male
4     5   0.81  2020-05-08 00:00:00  female
..  ...    ...                  ...     ...
95   96   0.73  2020-04-30 00:00:00    male
96   97   0.34  2022-08-07 00:00:00    male
97   98   0.78  2022-03-28 00:00:00  female
98   99   0.87  2020-10-03 00:00:00    male
99  100   0.93  2022-12-01 00:00:00  female

[100 rows x 4 columns]

In [15]:
%whos

Variable        Type          Data/Info
---------------------------------------
conn            Connection    <sqlite3.Connection object at 0x7fc20ac6e120>
creating_date   function      <function creating_date at 0x7fc20ab370d0>
cursor          Cursor        <sqlite3.Cursor object at 0x7fc1e11a45e0>
data_dict       dict          n=3
date            str           2022-12-01 00:00:00
datetime        module        <module 'datetime' from '<...>b/python3.9/datetime.py'>
df              DataFrame         score       date  gen<...>n\n[100 rows x 3 columns]
gender          str           female
i               int           99
np              module        <module 'numpy' from '/us<...>kages/numpy/__init__.py'>
pd              module        <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
query           str           \n    INSERT INTO tab_tes<...>   VALUES (?, ?, ?)\n
random          module        <module 'random' from '/u<...>lib/python3.9/random.py'>
score           float64       0.93
sqlite3         module        <module 'sqlite3' from '/<...>3.9/sqlite3/__init__.py'>

In [17]:
%who_ls

['conn',
 'creating_date',
 'cursor',
 'data_dict',
 'date',
 'datetime',
 'df',
 'gender',
 'i',
 'np',
 'pd',
 'query',
 'random',
 'score',
 'sqlite3']